body {
    color: #8a8989;
    font-size: 12px;
    font-family: Arial, sans-serif;
    letter-spacing: -0.1px;
    line-height: 1.28em;
}

header,
nav,
section,
article {
    display: block;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: 400;
}
.row h3 {
    color: #352E35;
    font-family: 'Droid sans', sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 30px;
}

.row h3 span {
    font-size: 13px;
    display: block;
    color: #c9c2c0;
    margin-top: 10px;

}

p {
    margin-bottom: 25px;
    line-height: 18px;
}

li {

    transition: all .2s linear;
    color: #e23d3d;
    text-decoration: none;
}

li:hover {
    text-decoration: none;
    color: #1d1d1c;
}



.bottom30{
    margin-bottom: 30px !important;
}

#header {
    background: url("../images/bg.jpg") repeat scroll 0 0 #DFDFDF;
    border-bottom: 1px solid #D5DBDB;
    border-top: 2px solid #e23d3d;
    box-shadow: 1px 1px 2px -1px #BBBBBB;
    height: 175px;
    position: relative;
}
.logo {
    position: absolute;
    top: 30px;
    z-index: 500;
}

#header .logo img {
    float: left;
}

#main-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    width: 100%;
}
#menu ul ul li {
    z-index: 999;
}

#menu ul {
    margin-left: 9px;
}

#menu > ul {
    display: block;
    margin: 0;
}

#menu > ul > li {
    list-style: none;
    float: left;
    position: relative;
}

#menu > ul > li > a {
    color: #392F37;
    display: block;
    font-family: 'Droid sans',sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 27px;
    text-transform: uppercase;
}


#menu > ul a:hover {
    color: #FFFFFF;
    background: #e23d3d;
}

#menu .current {
    color: #FFFFFF !important;
    background: #e23d3d;
}

.container {
    position: relative;
}

#container {
    background-color: #F4F4F2;
    border-top: 1px solid #D7D2D4;
    position: relative;
}

#container .container {
    padding: 30px;
}

#container .container > .row {
    margin-bottom: 10px;
}

#container .row.last {
    margin-bottom: 30px;
}

.row.da-thumbs {
    margin-bottom: 0 !important;
}

section#slider {
    background: url("../images/bg-slider.jpg") repeat scroll 0 0 transparent;
    display: block;
    overflow: hidden;
}

.flexslider a:active,

.flexslider a:focus {
    outline: none;
}

.slides,
 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    border: 10px solid #FFFFFF;
    box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

.flexslider {
    left: 15%;
    position: relative;
    width: 70%;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}



.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px
}
ul.slides li img{
    opacity:1;
}

.features-block img.im-bottom{
    opacity:0
}
.features-block:hover{
    color: #e23d3d;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    behavior: url(js/PIE.htc);
}
.features-block:hover h3{
    color:#e23d3d ;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    behavior: url(js/PIE.htc);
}
.features-block:hover img.im-top{
    opacity:0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    behavior: url(js/PIE.htc);
}.features-block:hover img.im-bottom{
    opacity:1;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    behavior: url(js/PIE.htc);
}

.features-block h3 {
    display: inline;
    margin-left: 37px;
}
.features-block p {
   margin-top:25px;
}
.features-block img{
    position: absolute;
}

.carousel {
    position: relative;
}

.carousel-wrapper {
    overflow: hidden;
    padding: 2px 2px 0 2px;
    margin-top: -2px;
}

.carousel-wrapper ul {
    display: none;
}

.carousel-wrapper ul li {
    height: 100%;
    float: left;
    display: block;
}

.btleft .es-nav {
    position: absolute;
    top: 10px;
    left: -63px;
}

.bttop .es-nav {
    position: absolute;
    top: -50px;
    right: 0px;
}

.es-nav span {
    float: left;
    width: 17px;
    height: 17px;
    display: block;
    top: 1px;
    right: 0;
    text-indent: -9999px;
}

.es-nav .es-nav-prev {
    right: 17px;
    background: url(../images/arrow-left.png) no-repeat right top;
}

.es-nav .es-nav-next {
    background: url(../images/arrow-right.png) no-repeat left top;
}

.es-nav .es-nav-next:hover {
    background-position: -17px 0px;
}

.es-nav .es-nav-prev:hover {
    background-position: 0px 0px;
}

#footer {
    background: none repeat scroll 0 0 #323232;
    border-top: 5px solid #A29F9C;
    padding-bottom: 45px !important;
    padding-top: 25px;
    position: relative;
}
#footer h3 {
    margin-bottom: 25px;
    font-family: 'Droid sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.05em;
}

#footer li {
    margin-bottom: 10px;
    list-style: none;
}

[class^="myicon-"],
[class*=" myicon-"] {
    display: inline-block;
    width: 16px;
    height: 12px;
    *margin-right: .3em;
    line-height: 12px;
    margin-right: 8px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.myicon-phone {
    background-image: url("../images/phone.png");
}

.myicon-mail {
    background-image: url("../images/mail.png");
}

.p-view, .p-link {
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    opacity: 0.8;
    -webkit-transition: opacity 0.35s linear;
    -moz-transition: opacity 0.35s linear;
    -o-transition: opacity 0.35s linear;
}

.p-view:hover, .p-link:hover {
    opacity: 1;
}

.p-view {
    left: 50%;
    margin-left: -39px;
    background: url(../images/view.png);
}

.da-thumbs li,
.da-thumbs article,
.da-thumbs.portfolio span {
    overflow: hidden;
    position: relative;
}

.da-thumbs li img,
.da-thumbs.portfolio span {
    display: block;
    position: relative;
}

.da-thumbs li div,
.da-thumbs article div {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.da-thumbs li div.da-animate,
.da-thumbs article div.da-animate {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.da-slideFromTop {
    left: 0px;
    top: -100%;
}

.da-slideFromBottom {
    left: 0px;
    top: 100%;
}

.da-slideFromLeft {
    top: 0px;
    left: -100%;
}

.da-slideFromRight {
    top: 0px;
    left: 100%;
}

.da-slideTop {
    top: 0px;
}

.da-slideLeft {
    left: 0px;
}

.span9 {
    position: relative;
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d7d2d4;
}

.divider img {
    display: block;
    margin: 0 auto;
}

.btn-read {
    background: none repeat scroll 0 0 #E23D3D;
    border-color: #E23D3D;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px 15px;
    text-shadow: none;
    text-transform: uppercase;
}

.btn-read:hover {
    border-color: #e23d3d;
    background: #FFF;
    color: #000;
}

.read-more {
    display: block;
    color: #e23d3d;
    letter-spacing: 0.02em
}

.read-more:hover {
    color: #1d1d1c;
}

@media only screen and (min-width: 980px)  and (max-width: 1199px) {

    .btleft .es-nav {
        left: -53px;
    }

    #latest-work .carousel-wrapper li {
        width: 340px !important;
    }

    .figure-1 a.left-image {
        margin-right: 5px;
    }

    .service.img-border-bg {
        margin-top: 50px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    #welcome {
        padding: 0 0 10px;
    }

    .btleft .es-nav {
        left: -43px;
    }

    #latest-work .carousel-wrapper li {
        width: 252px !important;
    }

    .flickr li {
        width: 68px
    }

    #sidebar .ul-col2 li {
        float: none;
        margin-right: 0;
        width: 90%;
    }

    #footer #contact input[type="text"], #footer #contact textarea {
        width: 90%
    }

    #footer [class^="icon-"] {
        display: none;
    }

    .service.img-border-bg {
        margin-top: 50px;
    }

    .ident-bot-2 {
        margin-bottom: 0;
    }

    .figure-3 {
        display: none;
    }
    .subscribe-input{
        max-width: 37%;
    }
}

@media (max-width: 767px) {
    #welcome{
        padding: 0 0 10px;
    }
    .btn-more{
        font-size: 11px;
    }
    .btn-more:hover{
        font-size: 11px;
    }

    body {
        padding: 0
    }

    .container {
        padding: 0 20px;
    }

    #menu ul,
    .slides h3,
    #top-menu > .span6 {
        display: none;
    }

    #top-menu .top-social {
        float: none;
    }

    .res-menu {
        display: block;
        left: 15%;
        top: -45px;
        width: 70%;
    }
    .logo {
        text-align: center;;
    }

    .container > .row [class*="span"] {
        margin-bottom: 30px;
    }

    .container > .row > [class*="span"]:last-child {
        margin-bottom: 0 !important;
    }

    #welcome {
        padding: 0 0 10px;
    }

    .btleft .es-nav {
        bottom: inherit;
        right: 0;
        left: inherit;
        top: -38px;
    }

    #latest-work .carousel-wrapper li {
        max-width: 15em !important;
    }

    .our-projects article:nth-last-child(-n+4) {
        margin-bottom: 30px !important;
    }

    #footer-menu .span4 {
        margin-bottom: 15px;
        text-align: center;
    }
    #footer-menu p {
        color: #8A8989;
        float: none;
        font-size: 12px;
        padding-top: 14px;
        text-align: center;
    }
    .breadcrumbs {
        padding: 30px 20px 0;
        position: relative;
    }

    #sidebar section:last-child {
        margin-bottom: 0;
    }

    #sidebar .ul-col2 {
        width: 100%
    }

    #sidebar .ul-col2 li {
        margin-right: 0;
        width: 50%;
    }

    .alignleft,
    .alignright {
        float: none !important;
    }

    #footer .submit-div {
        width: 270px;
    }

    figure {
        display: inline-block;
        margin-right: 15px;
    }
    .subscribe-input{
        max-width: 50%;
    }

}

@media (max-width: 480px) {
    #welcome{
        padding: 0 0 10px;
    }
    .btn-more{
        font-size: 11px;
    }
    .btn-more:hover{
        font-size: 11px;
    }

    #footer .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }

    #footer .form-horizontal .controls {
        margin-left: 0;
    }

    #footer .form-horizontal .control-list {
        padding-top: 0;
    }

    #footer .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }

    #footer .submit-div {
        width: 225px;
    }

}
